main{

	border-style: solid;
	border-width: 5px;
	text-align: center;
	position: relative;
	width: 500px;
	background: rgb(255, 255, 255, 0.8);
	padding: 3px;
	margin: 80px auto auto auto;

}
body{

	background-color: #d48320;
	
}
.inputB{
	border-style: 2px solid;
	margin: 3px;
	align-self: center;

}
.inputS:hover{
	
	background-color: rgba(18, 61, 89,0.7);
	cursor: pointer;
	border-radius: 2px;

}
.inputS{
	background-color: white;
	border-radius: 2px;
	font-size: medium;
	font-stretch: expanded;

}

fieldset#genero{
	width: 200px;
	margin: auto;
	border: none;

}

fieldset#form{
	padding-top: 30px;
}

fieldset#genero legend{
	text-align: left;
	padding-top: 10px;
}

table#tab caption{
	font-weight: bold;
}

table#tab, tr, td{
	border-collapse: collapse;
	border: solid 1px #888888;
}